USE [master]
GO
/****** Object:  Database [PayrollDB]    Script Date: 21-09-2024 23:35:19 ******/
CREATE DATABASE [PayrollDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PayrollDB', FILENAME = N'G:\work app\MSSQL16.MSSQLSERVER\MSSQL\DATA\PayrollDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PayrollDB_log', FILENAME = N'G:\work app\MSSQL16.MSSQLSERVER\MSSQL\DATA\PayrollDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PayrollDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PayrollDB]
GO
/****** Object:  Table [dbo].[EmpData]    Script Date: 21-09-2024 23:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpData](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[JobId] [int] NOT NULL,
	[Duration] [int] NULL,
	[CreatedDt] [datetime] NULL,
	[UpdatedDt] [datetime] NULL,
 CONSTRAINT [PK_EmpData] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobTitles]    Script Date: 21-09-2024 23:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTitles](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[Job] [nvarchar](150) NOT NULL,
	[Salary] [decimal](18, 3) NOT NULL,
	[Desc] [nvarchar](250) NULL,
	[CreatedDt] [datetime] NULL,
	[UpdatedDt] [datetime] NULL,
 CONSTRAINT [PK_JobTitles] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
